.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.Home{
    display: flex;
    flex-flow: row wrap;
    margin: 2rem;
}

.Home > h2,h5{
    width: 100%;
}

.Home article{
    align-items: flex-start;
    border: 1px solid #ccc;
    flex: 1 0 auto;
    font-size: 1em;
    margin: 1rem;
    padding: 1rem;
    width: 33%;
}
