div#root{
    display: flex;
    flex-flow: row wrap;
}

aside{
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    width: 20%;
}
aside ul{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border-right: 3px ridge #bbb;
    margin: 0;
    padding: 1rem;
    height: 100%;
}
aside ul caption{
    font-size: 25px;
    text-align: center;
    border-bottom: 2px ridge #bbb;
}
aside ul li{
    margin: 0.5rem;
    list-style-type: none;
    text-align: center;
}

aside ul li a{
    text-decoration: none;
}


section{
    display: flex;
    flex: 3 0 auto;
    justify-content: space-evenly;
    padding: 2rem;
    width: 75%;
}

article{
    align-self: center;
    text-align: center;
    width: 25%;
}

article img{
    display: block;
    object-fit: cover;
    width: 100%;
}
