div#root{
    display: flex;
    flex-flow: row wrap;
}

aside{
    border-right: 3px ridge #bbb;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 45rem;
    overflow: auto;
}
aside ul{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 1rem;
}
aside ul caption{
    font-size: 25px;
    text-align: center;
    border-bottom: 2px ridge #bbb;
}
aside ul li{
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;
    list-style-type: none;
    text-align: center;
}

aside ul li a{
    text-decoration: none;
}
aside ul li span{
    flex: 1 0 auto;
}


section{
    display: flex;
    flex: 3 0 auto;
    justify-content: space-evenly;
    padding: 2rem;
    height: 0;
    width: 75%;
}

article{
    align-self: baseline;
    text-align: center;
    width: 25%;
}

article img{
    display: block;
    object-fit: cover;
    width: 100%;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
