aside{
}

aside ul caption{
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

section.album-details{
    flex: 3 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.article-album{
    width: 25%;
}

article.article-album img{
    display: block;
    object-fit: cover;
    width: 100%;
}
